
#box2{
    width: 100%;
    height: 25vh;
    background-color:green;
}
#box3{
    width:100%;
     height: 50vh;
    background-color:lightskyblue ;
 
     
}
#box4{
    width: 100%;
    height: 25vh;
    background-color: brown;
  
}